[Desktop Entry]

Name=BardML
Comment=Bard Storyteller (ML)
X-OD-Manual=readme.txt
Icon=Bard32
Exec=bard_ml.sh
Terminal=false
Type=Application
StartupNotify=true
Categories=applications;
MimeType=text/plain;application/epub+zip;
