[Desktop Entry]

Name=Bard
Comment=Bard Storyteller
X-OD-Manual=readme.txt
Icon=Bard32
Exec=bard.sh
Terminal=false
Type=Application
StartupNotify=true
Categories=applications;
MimeType=text/plain;application/epub+zip;
